.about-title {
  color: rgb(0, 158, 172);
  font-weight: bold;
  border-bottom: 2px solid rgb(0, 158, 172);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-shadow: 3px 4px 19px;
}

.about-body {
  background-color: rgba(242, 246, 246, 0.78);
  border-radius: 50px;
  padding: 20px;
  opacity: 20;
  font-weight: bold;
}

.about-sub-title {
  color: rgb(0, 158, 172);
  text-shadow: 3px 4px 19px;
  font-size: 2em;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-bottom: 3px solid salmon;
}

.my-self {
  border-right: black 1.3px solid;
}
